<div class="business-header">
  <div class="title">
    <h1>Autores</h1>
  </div>
  <div class="new">
    <button cButton color="success">Novo</button>
  </div>
</div>
<table cTable class="table">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">Nome</th>
    <th scope="col" class="col-action">Ação</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let a of authors">
    <th scope="row">{{a.id}}</th>
    <td>{{a.name}}</td>
    <td>
      <div class="actions">
        <div class="action">
          <button cButton color="primary"><svg cIcon name="cilPencil" size="xl" title="Paper Plane Icon"></svg></button>
        </div>
        <div class="action">
          <button cButton color="danger"><svg cIcon name="cilTrash" size="xl" title="Paper Plane Icon"></svg></button>
        </div>
      </div>
    </td>
  </tr>
  </tbody>
</table>
